@{
    ViewData["Title"] = "Main";
}

@{
    ViewData["Title"] = "Map";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>electric-wheelchair</title>
</head>
<style>
    body {
        text-align: center;
        background: #E4F7BA;
        font-family: Dotum, sans-serif;
    }
</style>

<body>
    <h1>부산광역시 전동휠체어</h1>
    <div id="map" style="width:100%;height:100vh;"></div>
    <script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=928e14de69bb57016e4f39370a956c9b&libraries=clusterer"></script>
    </script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
            mapOption = {
                center: new kakao.maps.LatLng(35.11760617, 129.0450624), // 지도의 중심좌표표
                level: 10 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다 
        var positions = [
            {
                title: '화명역',
                latlng: new kakao.maps.LatLng(35.23580316, 129.0138772)
            },
            {
                title: '해운대장애인복지관',
                latlng: new kakao.maps.LatLng(35.2108581, 129.1219365)
            },
            {
                title: '해운대구문화복합센터',
                latlng: new kakao.maps.LatLng(35.18208832, 129.121472)
            },
            {
                title: '해동병원',
                latlng: new kakao.maps.LatLng(35.09218532, 129.0433609)
            },
            {
                title: '충렬사역',
                latlng: new kakao.maps.LatLng(35.19969107, 129.097537)
            },
            {
                title: '초량역',
                latlng: new kakao.maps.LatLng(35.12116646, 129.0429929)
            },
            {
                title: '초량2동주민센터',
                latlng: new kakao.maps.LatLng(35.11653458, 129.0384902)
            },
            {
                title: '철마면복지회관',
                latlng: new kakao.maps.LatLng(35.27355883, 129.150092)
            },
            {
                title: '지하철 2호선 전포역',
                latlng: new kakao.maps.LatLng(35.15283807, 129.0653617)
            },
            {
                title: '지하철 2호선 개금역',
                latlng: new kakao.maps.LatLng(35.15319492, 129.0203739)
            },
            {
                title: '지하철 2호선 가야역',
                latlng: new kakao.maps.LatLng(35.15587381, 129.0428246)
            },
            {
                title: '지하철 1호선 양정역',
                latlng: new kakao.maps.LatLng(35.17271218, 129.0714826)
            },
            {
                title: '지하철 1호선 서면역',
                latlng: new kakao.maps.LatLng(35.15776331, 129.0590375)
            },
            {
                title: '지하철 1호선 범내골역',
                latlng: new kakao.maps.LatLng(35.14726083, 129.0600104)
            },
            {
                title: '지체장애인협회해운대지부',
                latlng: new kakao.maps.LatLng(35.233439, 129.1558859)
            },
            {
                title: '중앙역',
                latlng: new kakao.maps.LatLng(35.10375767, 129.0363569)
            },
            {
                title: '중동역',
                latlng: new kakao.maps.LatLng(35.16664955, 129.1686157)
            },
            {
                title: '좋은삼선병원',
                latlng: new kakao.maps.LatLng(35.15015109, 129.0078086)
            },
            {
                title: '종합운동장역',
                latlng: new kakao.maps.LatLng(35.19127438, 129.0675716)
            },
            {
                title: '정관읍행정복지센터',
                latlng: new kakao.maps.LatLng(35.3255014, 129.1802926)
            },
            {
                title: '절영종합사회복지관',
                latlng: new kakao.maps.LatLng(35.07221265, 129.0617457)
            },
            {
                title: '서2동행정복지센터',
                latlng: new kakao.maps.LatLng(35.21287122, 129.1044951)
            },
            {
                title: '부곡1동행정복지센터',
                latlng: new kakao.maps.LatLng(35.22440759, 129.0921331)
            },
            {
                title: '장전2동행전복지센터',
                latlng: new kakao.maps.LatLng(35.22774692, 129.0809685)
            },
            {
                title: '구서1동행정복지센터',
                latlng: new kakao.maps.LatLng(35.24511266, 129.0868958)
            },
            {
                title: '남산동행정복지센터',
                latlng: new kakao.maps.LatLng(35.27166136, 129.0922622)
            },
            {
                title: '두실역',
                latlng: new kakao.maps.LatLng(35.25687571, 129.0914118)
            },
            {
                title: '금정종합사회복지관',
                latlng: new kakao.maps.LatLng(35.21465503, 129.1183635)
            },
            {
                title: '장애인복지관',
                latlng: new kakao.maps.LatLng(35.1593712, 129.1049872)
            },
            {
                title: '장안읍행정복지센터',
                latlng: new kakao.maps.LatLng(35.31352295, 129.2439933)
            },
            {
                title: '장산역',
                latlng: new kakao.maps.LatLng(35.1699309, 129.1769506)
            },
            {
                title: '장림역',
                latlng: new kakao.maps.LatLng(35.08201263, 128.9774017)
            },
            {
                title: '자갈치역',
                latlng: new kakao.maps.LatLng(35.09775733, 129.0271138)
            },
            {
                title: '일광역',
                latlng: new kakao.maps.LatLng(35.2674491, 129.2331153)
            },
            {
                title: '인제대학교해운대백병원',
                latlng: new kakao.maps.LatLng(35.17325877, 129.1821634)
            },
            {
                title: '온천장역',
                latlng: new kakao.maps.LatLng(35.22028597, 129.0863784)
            },
            {
                title: '온천2동 주민센터',
                latlng: new kakao.maps.LatLng(35.20798653, 129.0729846)
            },
            {
                title: '오시리아역',
                latlng: new kakao.maps.LatLng(35.19621276, 129.208263)
            },
            {
                title: '영화체험박물관',
                latlng: new kakao.maps.LatLng(35.1016612, 129.033592)
            },
            {
                title: '영화의전당',
                latlng: new kakao.maps.LatLng(35.17103803, 129.1270863)
            },
            {
                title: '영도장애인자립생활센터',
                latlng: new kakao.maps.LatLng(35.0757512, 129.0724292)
            },
            {
                title: '영도병원',
                latlng: new kakao.maps.LatLng(35.09224571, 129.0405322)
            },
            {
                title: '영도구청',
                latlng: new kakao.maps.LatLng(35.09121408, 129.0679144)
            },
            {
                title: '영도구장애인복지관',
                latlng: new kakao.maps.LatLng(35.07526852, 129.0668621)
            },
            {
                title: '연제구청',
                latlng: new kakao.maps.LatLng(35.17621174, 129.0797456)
            },
            {
                title: '연산종합사회복지관',
                latlng: new kakao.maps.LatLng(35.17301224, 129.0894532)
            },
            {
                title: '연산역(환승역)',
                latlng: new kakao.maps.LatLng(35.18607207, 129.0815033)
            },
            {
                title: '연산9동행정복지센터',
                latlng: new kakao.maps.LatLng(35.18590316, 129.1093798)
            },
            {
                title: '연산6동행정복지센터',
                latlng: new kakao.maps.LatLng(35.17741821, 129.0896601)
            },
            {
                title: '안락역',
                latlng: new kakao.maps.LatLng(35.19601985, 129.1005472)
            },
            {
                title: '안락2동행정복지센터',
                latlng: new kakao.maps.LatLng(35.19775395, 129.1100639)
            },
            {
                title: '신장림역',
                latlng: new kakao.maps.LatLng(35.0747728, 128.9766253)
            },
            {
                title: '시청역',
                latlng: new kakao.maps.LatLng(35.1797757, 129.076623)
            },
            {
                title: '수영역',
                latlng: new kakao.maps.LatLng(35.16625783, 129.1145611)
            },
            {
                title: '수영구청',
                latlng: new kakao.maps.LatLng(35.14537131, 129.1123704)
            },
            {
                title: '수영구 장애인협회',
                latlng: new kakao.maps.LatLng(35.15850383, 129.1226252)
            },
            {
                title: '수영구 보건소',
                latlng: new kakao.maps.LatLng(35.1624773, 129.1134888)
            },
            {
                title: '수영구 노인복지관',
                latlng: new kakao.maps.LatLng(35.14004658, 129.1111709)
            },
            {
                title: '수안역',
                latlng: new kakao.maps.LatLng(35.20183707, 129.0838994)
            },
            {
                title: '송도스포츠센터',
                latlng: new kakao.maps.LatLng(35.07807699, 129.0201101)
            },
            {
                title: '센텀시티역',
                latlng: new kakao.maps.LatLng(35.1692748, 129.1323624)
            },
            {
                title: '서부산장애인스포츠센터',
                latlng: new kakao.maps.LatLng(35.10942029, 128.9469416)
            },
            {
                title: '서대신역',
                latlng: new kakao.maps.LatLng(35.11090183, 129.0121719)
            },
            {
                title: '서대신1동 행정복지센터',
                latlng: new kakao.maps.LatLng(35.11108286, 129.0144178)
            },
            {
                title: '서구장애인복지관',
                latlng: new kakao.maps.LatLng(35.11066521, 129.0235292)
            },
            {
                title: '서구보건소',
                latlng: new kakao.maps.LatLng(35.10743603, 129.0180384)
            },
            {
                title: '사하구장애인종합복지관',
                latlng: new kakao.maps.LatLng(35.08543902, 128.9929974)
            },
            {
                title: '사직종합사회복지관',
                latlng: new kakao.maps.LatLng(35.19909479, 129.0573007)
            },
            {
                title: '사직역',
                latlng: new kakao.maps.LatLng(35.19896992, 129.0650572)
            },
            {
                title: '사직2동 주민센터',
                latlng: new kakao.maps.LatLng(35.19921724, 129.057519)
            },
            {
                title: '사상구청소년수련관',
                latlng: new kakao.maps.LatLng(35.18331701, 128.9905605)
            },
            {
                title: '사상구장애인복지관',
                latlng: new kakao.maps.LatLng(35.1848992, 129.000941)
            },
            {
                title: '사상구생활사박물관',
                latlng: new kakao.maps.LatLng(35.17202277, 128.9787188)
            },
            {
                title: '사상구다누림센터',
                latlng: new kakao.maps.LatLng(35.14744572, 128.9948744)
            },
            {
                title: '사상경찰서',
                latlng: new kakao.maps.LatLng(35.15434046, 128.9914944)
            },
            {
                title: '영도구장애인협회',
                latlng: new kakao.maps.LatLng(35.08304485, 129.0692224)
            },
            {
                title: '2호선해운대역',
                latlng: new kakao.maps.LatLng(35.16364475, 129.1588752)
            },
            {
                title: '강서구청',
                latlng: new kakao.maps.LatLng(35.21220294, 128.9805851)
            },
            {
                title: '고신대학교(영도캠퍼스)',
                latlng: new kakao.maps.LatLng(35.07946942, 129.0621819)
            },
            {
                title: '고촌역',
                latlng: new kakao.maps.LatLng(35.23597189, 129.1604479)
            },
            {
                title: '곰두리스포츠센터',
                latlng: new kakao.maps.LatLng(35.18523856, 129.0657322)
            },
            {
                title: '광안역',
                latlng: new kakao.maps.LatLng(35.15791937, 129.1131733)
            },
            {
                title: '광혜병원',
                latlng: new kakao.maps.LatLng(35.20696836, 35.20696836)
            },
            {
                title: '구명역',
                latlng: new kakao.maps.LatLng(35.20645937, 129.0011333)
            },
            {
                title: '구포역(기차역)',
                latlng: new kakao.maps.LatLng(35.20547237, 128.997142)
            },
            {
                title: '국민체육센터',
                latlng: new kakao.maps.LatLng(35.15293824, 129.1074595)
            },
            {
                title: '금곡동행정복지센터',
                latlng: new kakao.maps.LatLng(35.2500788, 129.0128482)
            },
            {
                title: '금련산역',
                latlng: new kakao.maps.LatLng(35.14215337, 129.1079692)
            },
            {
                title: '기장군청',
                latlng: new kakao.maps.LatLng(35.24347702, 129.2229513)
            },
            {
                title: '기장읍행정복지센터',
                latlng: new kakao.maps.LatLng(35.23856062, 129.2162002)
            },
            {
                title: '기장장애인복지관',
                latlng: new kakao.maps.LatLng(35.33642884, 129.1735108)
            },
            {
                title: '기장장애인자립생활센터',
                latlng: new kakao.maps.LatLng(35.2380945, 129.2195195)
            },
            {
                title: '김해공항 국내선',
                latlng: new kakao.maps.LatLng(35.16826961, 128.9464763)
            },
            {
                title: '김해공항 국제선',
                latlng: new kakao.maps.LatLng(35.16826961, 128.9464763)
            },
            {
                title: '낙민역',
                latlng: new kakao.maps.LatLng(35.20019286, 129.0908266)
            },
            {
                title: '낙조분수',
                latlng: new kakao.maps.LatLng(35.04638172, 128.9680068)
            },
            {
                title: '남부민2동 행정복지센터',
                latlng: new kakao.maps.LatLng(35.08450841, 129.0205445)
            },
            {
                title: '남천역',
                latlng: new kakao.maps.LatLng(35.14247471, 129.1087673)
            },
            {
                title: '낫개역',
                latlng: new kakao.maps.LatLng(35.06520425, 128.9796568)
            },
            {
                title: '다대포항역',
                latlng: new kakao.maps.LatLng(35.05753578, 128.9711365)
            },
            {
                title: '다대포해수욕장역',
                latlng: new kakao.maps.LatLng(35.04819409, 128.9658704)
            },
            {
                title: '덕천종합사회복지관',
                latlng: new kakao.maps.LatLng(35.2090145, 129.0171502)
            },
            {
                title: '동구청',
                latlng: new kakao.maps.LatLng(35.12929577, 129.0452977)
            },
            {
                title: '동대신역',
                latlng: new kakao.maps.LatLng(35.11048779, 129.0176208)
            },
            {
                title: '동래구 보건소',
                latlng: new kakao.maps.LatLng(35.21141202, 129.079853)
            },
            {
                title: '동래구 장애인복지관',
                latlng: new kakao.maps.LatLng(35.19703204, 129.1003801)
            },
            {
                title: '동래구 장애인협회',
                latlng: new kakao.maps.LatLng(335.19476003, 129.113697)
            },
            {
                title: '동래구장애인복지관',
                latlng: new kakao.maps.LatLng(35.19703204, 129.1003801)
            },
            {
                title: '동래구청',
                latlng: new kakao.maps.LatLng(35.19639164, 129.0935801)
            },
            {
                title: '동래문화회관',
                latlng: new kakao.maps.LatLng(35.21195234, 129.090544)
            },
            {
                title: '동래역',
                latlng: new kakao.maps.LatLng(35.19732051, 129.0911411)
            },
            {
                title: '동래종합사회복지관',
                latlng: new kakao.maps.LatLng(35.21122586, 129.0985716)
            },
            {
                title: '동매역',
                latlng: new kakao.maps.LatLng(35.08976123, 128.9734472)
            },
            {
                title: '동해선 부전역',
                latlng: new kakao.maps.LatLng(35.16404282, 129.0605026)
            },
            {
                title: '동해선거제역',
                latlng: new kakao.maps.LatLng(35.19002305, 129.0742364)
            },
            {
                title: '동해선거제해맞이역',
                latlng: new kakao.maps.LatLng(35.18117281, 129.0689926)
            },
            {
                title: '동해선벡스코역',
                latlng: new kakao.maps.LatLng(35.17155342, 129.136099)
            },
            {
                title: '동해선신해운대역',
                latlng: new kakao.maps.LatLng(35.18169566, 129.1770328)
            },
            {
                title: '만덕2동행정복지센터',
                latlng: new kakao.maps.LatLng(35.2101851, 129.0372031)
            },
            {
                title: '망미1동 행정복지센터',
                latlng: new kakao.maps.LatLng(35.17344056, 129.1049092)
            },
            {
                title: '망미역',
                latlng: new kakao.maps.LatLng(35.17193479, 129.1075482)
            },
            {
                title: '명장1동 주민센터',
                latlng: new kakao.maps.LatLng(35.20469669, 129.1042489)
            },
            {
                title: '명장역',
                latlng: new kakao.maps.LatLng(35.20532999, 129.1018235)
            },
            {
                title: '물만골역',
                latlng: new kakao.maps.LatLng(35.17669022, 129.0854892)
            },
            {
                title: '미남역',
                latlng: new kakao.maps.LatLng(35.20559692, 129.0681236)
            },
            {
                title: '민락동 행정복지센터',
                latlng: new kakao.maps.LatLng(35.15726147, 129.1254327)
            },
            {
                title: '민락역',
                latlng: new kakao.maps.LatLng(35.1667229, 129.1227907)
            },
            {
                title: '반여농산물시장역',
                latlng: new kakao.maps.LatLng(35.21775678, 129.1240186)
            },
            {
                title: '배산역',
                latlng: new kakao.maps.LatLng(35.17366863, 129.0957024)
            },
            {
                title: '범일역',
                latlng: new kakao.maps.LatLng(35.14072248, 129.0593453)
            },
            {
                title: '범천2동 주민센터',
                latlng: new kakao.maps.LatLng(35.14651846, 129.0562035)
            },
            {
                title: '벡스코',
                latlng: new kakao.maps.LatLng(35.169099, 129.136041)
            },
            {
                title: '벡스코역',
                latlng: new kakao.maps.LatLng(35.16888915, 129.1388776)
            },
            {
                title: '보수동행정복지센터',
                latlng: new kakao.maps.LatLng(35.10618152, 129.0246936)
            },
            {
                title: '부산광역시 중구청',
                latlng: new kakao.maps.LatLng(35.10619853, 129.0323505)
            },
            {
                title: '부산광역시장애인종합복지관',
                latlng: new kakao.maps.LatLng(35.19056184, 129.0815454)
            },
            {
                title: '부산김해경전철 덕두역',
                latlng: new kakao.maps.LatLng(35.18200034, 128.9541983)
            },
            {
                title: '부산대학병원',
                latlng: new kakao.maps.LatLng(35.10105499, 129.0192223)
            },
            {
                title: '부산북구장애인협회',
                latlng: new kakao.maps.LatLng(35.21516531, 129.0104778)
            },
            {
                title: '부산시민공원',
                latlng: new kakao.maps.LatLng(35.16545076, 129.0558558)
            },
            {
                title: '부산시민회관',
                latlng: new kakao.maps.LatLng(35.13884533, 129.0652221)
            },
            {
                title: '부산시청',
                latlng: new kakao.maps.LatLng(35.17992599, 129.0750952)
            },
            {
                title: '부산어린이대공원',
                latlng: new kakao.maps.LatLng(35.18250363, 129.0466894)
            },
            {
                title: '부산역(기차)',
                latlng: new kakao.maps.LatLng(35.11760617, 129.0450624)
            },
            {
                title: '부산역(지하철)',
                latlng: new kakao.maps.LatLng(35.11443778, 129.0392803)
            },
            {
                title: '부산의료원',
                latlng: new kakao.maps.LatLng(35.18741703, 129.0600491)
            },
            {
                title: '부산장애인종합회관',
                latlng: new kakao.maps.LatLng(35.11392706, 129.0407108)
            },
            {
                title: '부산지방보훈청부산시민공원',
                latlng: new kakao.maps.LatLng(35.1104947, 129.0392966)
            },
            {
                title: '부산진구노인장애인복지관',
                latlng: new kakao.maps.LatLng(35.16404711, 129.0658484)
            },
            {
                title: '부산진구청',
                latlng: new kakao.maps.LatLng(35.16283294, 129.0531876)
            },
            {
                title: '부산진역',
                latlng: new kakao.maps.LatLng(35.12775984, 129.0478787)
            },
            {
                title: '북구장애인종합복지관',
                latlng: new kakao.maps.LatLng(35.26711896, 129.0175545)
            }

        ];

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i++) {

            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);

            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지 
            });
        }
    </script>
</body>

</html>